
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__loja {
    background: url('../imagem/banners/background-rodape.png')no-repeat center / cover;
    width: 100%;
    height: 100px;
    margin-bottom: 3rem;
}
.banner__loja__titulo {
    position: relative;
    color: #FDFDFD;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
.container__loja {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.white {
    background: #FDFDFD; 
}
.aliceblue {
    background: aliceblue;
}
.conteudo__loja {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.titulo__loja {
    color: #000265;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.endereco {
    line-height: 1.5;
    padding-bottom: 1rem;
    font-size: 1rem;
}
.funcionamento { 
    font-weight: bold;
    padding-bottom: .8rem;
    color: #232323;
    font-size: 1.2rem;
}
.DiasDeFuncionamento {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
.localizacao__loja {
    font-size: 16px;
    text-decoration: none;
    color:#FDFDFD;
    background: #FF0000;
    padding: .7rem;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    transition: .5s;
}
.localizacao__loja:hover {
    background: #990202;
}
.imagem__loja {
    padding-bottom: 2rem;
}
.imagem__loja img{
    width: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .banner__loja {
        height: 150px;
    }
    .banner__loja__titulo {
        font-size: 3rem;
    }
    .container__loja {
        max-width: 500px;
    }
    .titulo__loja {
        font-size: 2.1rem;
    }
    .endereco {
        font-size: 1.5rem;
    }
    .funcionamento {
        font-size: 1.3rem;
    }
    .localizacao__loja {
        font-size: 18px;
    } 
}

@media screen and (min-width: 1024px) {
    .banner__loja {
        height: 200px;
    }
    .container__loja { 
        max-width: 1400px;
        flex-direction: row;
        padding: 0;
        margin-bottom: 4rem;
    }
    .conteudo__loja {
        width: 50%;
        padding: 2rem;
    }
    .titulo__loja {
        font-size: 2.5rem;
    }
    .imagem__loja {
        padding: 2rem;
        width: 50%;
    }
}